/* Basic */

body {
  margin: 0;
  overflow-x: hidden;
}

.browserupgrade {
  margin: 0;
  padding: .5em 1em;
  background-color: #fcfcfc;
  text-align: center;
}

/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #0074d9;
}

.navbar-toggle .icon-bar {
  background-color: #0074d9;
}

/* Jumbotron */

.docs-jumbotron {
  background-color: #0074d9;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* Content */
/* Content */

.docs-pictures {
  margin: 0;
  padding: 0;
  list-style: none;
}

.docs-pictures > li {
  float: left;
  width: 16%;
  height: 27%;

  margin: 0 -1px -1px 0;
  border: 3px solid transparent;
  overflow: hidden;
}
.docs-pictures > li > .content > span {
  color: #7f7f7f;
}

.docs-pictures > li > img {
  width: 100%;
  height: 70%;


}
.video1{
  width: 32%;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  .video1{
    width: 100%;
  }
  .docs-pictures > li {
    float: left;
    width: 33%;
    height: 10%;
    margin: 0 -1px -1px 0;
    border: 3px solid transparent;
    overflow: hidden;

  }
  .docs-pictures > li > .content {
    display:none;


  }
  .docs-pictures > li > img {
    width: 100%;
    height: 80%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
}
.footer {
  font-size: .875rem;
}

.heart {
  color: #ddd;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.heart:hover {
  color: #ff4136;
}

.heart::before {
  border-top: 1px solid #eee;
  content: " ";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.heart::after {
  background-color: #fff;
  content: "♥";
  padding-left: .5rem;
  padding-right: .5rem;
  position: relative;
  z-index: 1;
}